// Break Point 

// For Small Devices (Mobile Devices)
$screen-sm: 320px;

// For Medium Devices (iPads)
$screen-md: 768px;

// For Large Devices (Tablets, Small screens)
$screen-lg: 960px;

// Extra Large Devices (Desktops, laptops)
$screen-xl: 1200px;