// Home Page
.home-page{
    background-color: $bg-white-red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include sm{
        background-color: $bg-dark-red;
    }

    @include md{
        background-color: $bg-dark-pink;
    }

    @include lg{
        background-color: $bg-dark-gray;
    }

    @include xl{
        background-color: $bg-dark-blue;
    }
} 